#environment file with secrets
relay.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.#*
*#
*.log
#credentials
*.secret
secret/

#draft stuff
tmp
# private notes
TODO.md

#local actions
.github/workflows/golocal.yml

# Test binary, built with `go test -c`
*.test
# Files with example testing outputs (manually created)
*.debug
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.cov
# binaries
cmd/relay/relay

# Dependency directories (remove the comment below to include it)
# vendor/
