# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.#*
*#
*.log
#draft stuff
tmp
# private notes
TODO.md

# Test binary, built with `go test -c`
*.test
# Files with example testing outputs (manually created)
*.debug
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries
cmd/shell/shell
cmd/session/session


# Dependency directories (remove the comment below to include it)
# vendor/
